<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          

                    @if (User.Identity.IsAuthenticated)
                    {
                <a class="navbar-brand" asp-controller="Ticket" asp-action="About">Moja Aplikacja</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Ticket" asp-action="Index">Bilety</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Dashboard" asp-action="Index">Panel użytkownika</a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Ticket" asp-action="MyTickets">Moje Zakupy</a>
                        </li>
                        <li class="nav-item">
                            <form asp-action="Logout" asp-controller="Account" method="post" class="form-inline">
                                <button type="submit" class="btn btn-link nav-link text-dark">Wyloguj się</button>
                            </form>
                        </li>
                </div>
                        
                    }
                    else
            {
                <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Login">Zaloguj się</a>
                        </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Account" asp-action="Register">Zarejestruj się</a>
                    </li>
                </ul>
                    }
                </ul>
            
        </div>
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
