@{
    ViewData["Title"] = "Witaj!";
}

<h2>@ViewData["Title"]</h2>

<p>Witaj, @User.Identity.Name!</p>

<form asp-action="Logout" method="post">
    <button type="submit" class="btn btn-danger">Wyloguj się</button>
</form>
