@{
    ViewData["Title"] = "Dashboard";
}

<h2>Panel użytkownika</h2>
<p>Witaj, @User.Identity.Name!</p>

<form asp-action="Logout" asp-controller="Account" method="post">
    <button type="submit" class="btn btn-danger">Wyloguj się</button>
</form>
